unified-data-set.json
node_modules
harvard-data-collection/grs-test-objects.json
harvard-data-collection/test-harvard-objects.json
harvard-data-collection/harvard-grs-objects.json
met-data-collection/greek-and-roman-art-ids.json
met-data-collection/greek-and-roman-sculpture-ids.json
met-data-collection/met-grs-objects.json

